body {

}

header {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 10px;
}

.hm-header-logo {
  display: flex;
  align-items: center;
}

.ham-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;

}


