body {

}

header {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 10px;
}

.hm-header-logo {
  display: flex;
  align-items: center;
}

.ham-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* buying guide section */

.hm-top {
  width: 100%;
  height: 260px;
  margin-top: 40px;
  background-image: url(../images/main-image-300x105.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hm-top div {
  padding: 0px 20px;
  padding-top: 20px;
}

.hm-top p {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* buying guide section */

.hm-content-mid-1 {
  margin: 30px 0;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hm-buying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hm-buying > img:nth-of-type(1) {
  width: 100%;
  margin-bottom: 10px;
}

.hm-buying-sides {
  padding: 10px;
  background-color: #f1f3f2;
}

.hm-buying-sides > div:nth-of-type(1) {
  padding: 10px;
}

.hm-buying-sides > div > h2,
.hm-buying-sides > div > div > p {
  margin-top: 20px;
}

.hm-buying-sides > div > div > p {
  font-size: 14px;
}

.button-container {
  position: relative;
  margin-top: 40px;
}

.button-container div {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-container img {
  position: absolute;
  left: 10px;
}


/* buying section middle newsletter box */

#hm-newsletter {
  box-sizing: border-box;
  margin: 70px 0 30px;
  padding: 10px;
  width: 100%;
  background-color:#8c1515;
  color: white;
}

#hm-newsletter h2 {
  margin: 30px 0;
  font-size: 36px;
  font-family: 'Playball', cursive;
  font-weight: 400;
}

#hm-newsletter p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#hm-newsletter h3 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}

#hm-newsletter input {
  box-sizing: border-box;
  height: 45px;
  width: 80%;
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
}

#box-border{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#box-border-effect {
  content: '';
  border: solid 1px black;
  width: 100%;
  height: 379px;
  position: absolute;
  top: -35px;
}

/* product review */
/* heading */
#hm-review-heading {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

#hm-review-heading > h2:nth-of-type(1) {
  font-weight: 400;
}

#hm-review-heading > h2:nth-of-type(2) {
  font-size: 25px;
  margin-bottom: 30px;
}

/* review boxes */

.hm-content-mid-2 {
  padding: 0 30px;
}

.hm-reviews {
  width: 100%;
  margin: 0 0 40px;
}

.hm-reviews > img:nth-of-type(1) {
  width: 100%;
}

.hm-reviews h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.hm-reviews h2 a {
  text-decoration: none;
  color: black;
}

.hm-reviews > div > div:nth-of-type(2) p {
  margin: 20px 0 25px;
}

.hm-review-button a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.hm-review-button > a > div:nth-of-type(1) {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #727370;
}

.hm-review-button > a > div:nth-of-type(2) {
  height: 40px;
  width: 105px;
  margin: 0 0 0 5px;
  box-sizing: border-box;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top {
  height: 200px;
  width: 100%;
  background-image: url(../images/start-here.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top h2 {
  margin: 20px 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.footer-top button {
  height: 36px;
  width: 130px;
  padding: 5px 0;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  text-transform: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
