/* hamburger menu */

.ham-nav-closed {
  width: 35px;
  height: 32px;
  border: solid 1px red;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ham-nav-open {
  width: 35px;
  height: 32px;
  border: solid 1px red;
  padding: 8px;
  border-radius: 5px;
}

.ham-nav-open img:nth-of-type(1) {
  position: relative;
  top: 5px;
  z-index: 1;
  transform: rotate(45deg);
}

.ham-nav-open img:nth-of-type(2) {
  position: relative;
  bottom: 10px;
  z-index: 0;
  transform: rotate(-45deg);
}

.ham-nav img {
  width: 100%;
  height: 2.75px;
}

/* menu dropdown */

.mobile-drop-down-nav {
  z-index: 2;
  width: 90%;
  background-color: white;
  position: absolute;
  top: 75px;
  left: 10; 
  right: 0;
  height: 65px;
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.mobile-drop-down-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobile-drop-down-nav li {
  padding: 10px;
}

.mobile-drop-down-nav a {
  text-decoration: none;
  color: black;
}

/* .hm-header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
} */