/* Universal Styles go here */
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

/* Keep all header styling organized here */
header{
  width: 80%;
  background-color: #8c1515;
  padding-top: 20px;
  padding-bottom: 10px;
}

#logo-container img{
  min-width: 200px;
  height: auto;
}

/* Main Styling Begins Below */
main{
  width: 100%;
}

article{
  width: 80%;
}

aside{
  width: 20%;
}
